#nav1{
    height: 60px;
}

#EmployeeBTN > a, #CustomerBTN > a, #logInBTN > a, #homeBtn > a,#ManageBTN>a,#AdminManageBTN>a {
    color: black;
}

#ManageBTN,#AdminManageBTN{
    top: 9px;
}

main {
    overflow: hidden;
    position: relative;
}

body {
    position: relative;
}

.home {
    left: -1%;
    width: 100vw;
    position: relative;
}

.homePageImg {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
}

.topic {
    height: 30%;
    width: 48%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.topic1 {
    font-size: 120px;
    color: black;
    font-family: "Arial Unicode MS";
    position: relative;
    left: 9%;
    bottom: 39%;
    opacity: 75%;
}

.top {
    position: relative;
    background-color: black;
    height: 4px;
    width: 83%;
    top: -25%;
    left: 11%;
    opacity: 75%;
}

.bottom {
    position: relative;
    background-color: black;
    height: 4px;
    width: 83%;
    top: -56%;
    left: 11%;
    opacity: 75%;
}

.topic2 {
    position: relative;
    left: 31%;
    bottom: 51%;
    font-size: 20px;
}

.topic > a {
    position: relative;
    left: 49%;
    top: -47%;
}

.topic > img:hover {
    cursor: pointer;
}


/*first page*/
.firstPage {
    position: relative;
    width: 100vw;
    height: 250vh;
}

.topic3 {
    position: relative;
    font-size: 26px;
    top: 3%;
    /* left: 47%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.vehicles {
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
    margin: auto;
    height: 360%;
    width: 90%;
    overflow: hidden;
}

.vehicles > section {
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.vehicles > section > div {
    width: 30%;
    height: 53%;
    margin-top: 37px;
    background-color: #dcdee7;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.vehicles > section > div:hover{
    cursor: pointer;
    background-color: #abacb4;
    font-weight: bold;

}
.vehicles > section > div > img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 10%;
    background-size: cover;
}

.vehicles > section > div > pre {
    color: BLACK;
    font-size: 25px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 75%;
    display: table;
}

/*second page*/
.secondPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: -1%;
    background-color: black;
}
.pic1{
    position: relative;
    top: 15%;
}
.pic1>img{
    position: relative;
    height: 13%;
    width: 51%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
}
.info{
    font-size: 20px;
    color: white;
    position: relative;
    left: 48%;
    top: -50%;
}

/*second page*/
.thirdPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: -1%;
    background-color: white;
}
.pic2{
    position: relative;
    top: 15%;
    left: 50%;
}
.pic2>img{
    position: relative;
    height: 13%;
    width: 51%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}
.thirdPage>.info{
    font-size: 20px;
    color: black;
    position: relative;
    left: -2%;
    top: -48%;
}

/*login page*/
.loginPage {
    position: relative;
    width: 100vw;
    height: 150vh;
    background-color: #f6efe3;
    left: -1%;
}

.customerPanel {
    height: 15%;
    width: 48%;
    position: absolute;
    left: 0;
    right: 0;
    top: -56%;
    bottom: 0;
    margin: auto;
}

.customerTopic1 {
    font-size: 88px;
    color: black;
    font-family: "Arial Unicode MS";
    position: relative;
    left: 9%;
    bottom: 39%;
    opacity: 75%;
}

.customerPanel > .top {
    position: relative;
    background-color: black;
    height: 4px;
    width: 83%;
    top: -25%;
    left: 11%;
    opacity: 75%;
}

.customerPanel > .bottom {
    position: relative;
    background-color: black;
    height: 4px;
    width: 83%;
    top: -56%;
    left: 11%;
    opacity: 75%;
}
#customerLoginWarningMsg{
    position: relative;
    left: 7%;
    top: 10%;
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.customerTopic2 {
    position: relative;
    left: 28%;
    bottom: 51%;
    font-size: 20px;
}

.logInForm {
    height: 34%;
    width: 37%;
    background-color: white;
    position: absolute;
    left: 31px;
    right: 0;
    top: -10%;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 13px;
}

.SignInForm {
    height: 70%;
    width: 40%;
    background-color: white;
    position: absolute;
    left: 31px;
    right: 0;
    top: -25%;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 13px;
}

.loginForm {
    position: relative;
    width: 315%;
    top: 20%;
    left: 10%;
    z-index: 1;
}

.signinForm {
    position: relative;
    width: 90%;
    left: 6%;
    top: 4%;
}

#lbl1 {
    position: relative;
    font-size: 23px;
    left: 45%;
    top: 6%;
}

#lbl2 {
    position: relative;
    font-size: 15px;
    left: 10%;
    top: 28%;
    color: mediumblue;
}

#lbl3 {
    position: relative;
    font-size: 23px;
    left: 45%;
    top: 2%;
}

#lbl4 {
    position: relative;
    font-size: 15px;
    left: 22%;
    top: 1%;
    color: mediumblue;
}

#lbl2:hover {
    cursor: pointer;
}

#lbl4:hover {
    cursor: pointer;
}

/*admin*/

.adminloginPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f6efe3;
    left: -1%;
}

.adminloginPage>.logInForm{
    height: 40%;
    width: 37%;
    background-color: white;
    position: absolute;
    left: 31px;
    right: 0;
    top: 30%;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 13px;
}
.adminPanel {
    height: 15%;
    width: 48%;
    position: absolute;
    left: 0;
    right: 0;
    top: -56%;
    bottom: 0;
    margin: auto;
}

.adminTopic1 {
    font-size: 88px;
    color: black;
    font-family: "Arial Unicode MS";
    position: relative;
    left: 18%;
    bottom: 39%;
    opacity: 75%;
}

.adminPanel > .top {
    position: relative;
    background-color: black;
    height: 4px;
    width: 66%;
    top: -25%;
    left: 20%;
    opacity: 75%;
}

.adminPanel > .bottom {
    position: relative;
    background-color: black;
    height: 4px;
    width: 66%;
    top: -56%;
    left: 20%;
    opacity: 75%;
}

.adminTopic2 {
    position: relative;
    left: 28%;
    bottom: 51%;
    font-size: 20px;
}

#lbl5 {
    position: relative;
    font-size: 23px;
    left: 45%;
    top: 6%;
}
#adminLoginWarningMsg{
    position: relative;
    left: 7%;
    top: 10%;
    font-size: 15px;
    font-weight: bold;
    color: red;
}


/*rent*/
.rentSection{
    position: relative;
    width: 100vw;
    height: 120vh;
    background-color: #f6efe3;
    left: -1%;
}
.rentForm{
    height: 85%;
    width: 45%;
    background-color: white;
    position: absolute;
    left: 31px;
    right: 0;
    top: 2%;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 13px;
}
.rentForm>div{
    position: relative;
    left: 25%;
    margin-top: 3%;
    top: 10%;
}
.rentBtn{
    position: relative;
    left: 34%;
}
.checkCarBtn{
    position: absolute;
    left: 60%;
    top: 20%;
    height: 34px;
}
.rentTopic{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*model*/
.modelIcon{
    position: relative;
    left: 47%;
}
.modelTxt1{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: 10%;
}
.modelTxt2{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: -20%;
}
.modal-body{
    overflow: hidden;
}

/*my booking*/

.myBookings{
    position: relative;
    width: 100vw;
    height: 160vh;
    background-color: #f6efe3;
    left: -1%;
}
.bookingPanel {
    height: 15%;
    width: 48%;
    position: absolute;
    left: 0;
    right: 0;
    top: -65%;
    bottom: 0;
    margin: auto;
}

.bookingTopic1 {
    font-size: 88px;
    color: black;
    font-family: "Arial Unicode MS";
    position: relative;
    left: 18%;
    bottom: 39%;
    opacity: 75%;
}

.bookingPanel > .top {
    position: relative;
    background-color: black;
    height: 4px;
    width: 68%;
    top: -25%;
    left: 18%;
    opacity: 75%;
}

.bookingPanel > .bottom {
    position: relative;
    background-color: black;
    height: 4px;
    width: 68%;
    top: -56%;
    left: 18%;
    opacity: 75%;
}

.bookingTopic2 {
    position: relative;
    left: 30%;
    bottom: 51%;
    font-size: 20px;
}

.bookingTable{
    position: absolute;
    width: 80%;
    height: 32%;
    top: 23%;
    left: 10%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.bookingTable>table{
    width: 92%;
    left: 4%;
    top: 4%;
    position: relative;
}
.returnTable{
    position: absolute;
    width: 80%;
    height: 32%;
    top: 63%;
    left: 10%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.returnTable>table{
    width: 92%;
    left: 4%;
    top: 10%;
    position: relative;
}
.returnTable>pre{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2%;
    font-size: 20px;
    font-weight: bold;
}

/*payment*/
.paymentSection{
    position: relative;
    width: 100vw;
    height: 145vh;
    background-color: #f6efe3;
    left: -1%;
}
.paymentForm{
    height: 80%;
    width: 45%;
    background-color: white;
    position: absolute;
    left: 31px;
    right: 0;
    top: 0%;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 13px;
}
.paymentForm>div{
    position: relative;
    left: 25%;
    margin-top: 3%;
    top: 5%;
}
.submitBtn{
    position: relative;
    left: 38%;
}
.backImg1{
    position: relative;
    top: 4%;
    left: 4%;
}
.backImg1:hover{
    cursor: pointer;
}
.backImg2{
    position: relative;
    top: 4%;
    left: 4%;
}
.backImg2:hover{
    cursor: pointer;
}
.paymentTopic{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*model*/
.modelIcon{
    position: relative;
    left: 47%;
}
.modelTxt3{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: 23%;
}
.modelTxt4{
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: -20%;
}
.modal-body{
    overflow: hidden;
}

/*carManagement*/
.carManagement{
    position: relative;
    width: 100vw;
    height: 160vh;
    background-color: #f6efe3;
    left: -1%;
}
.carForm{
    height: 64%;
    width: 82%;
    background-color: white;
    position: absolute;
    left: 31px;
    right: 0;
    top: -24%;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 13px;
}
.carForm>form{
    width: 85%;
    left: 9%;
    position: relative;
    top: 9%;
}
.carSaveBtn,.carUpdateBtn,.carDeleteBtn{
    position: relative;
    left: 69%;
}
.carTable{
    position: absolute;
    width: 82%;
    height: 25%;
    top: 72%;
    left: 10%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.driverTbl>tr:hover{
    cursor: pointer;
}
.carTable>table{
    position: relative;
    width: 95%;
    left: 2%;
    top: 5%;
}
.carForm>pre{
    position: relative;
    display: flex;
    top: 6%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}


/*driver management*/
.driverManagement{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f6efe3;
    left: -1%;
}
.driverForm{
    height: 55%;
    width: 82%;
    background-color: white;
    position: absolute;
    left: 31px;
    right: 0;
    top: -32%;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 13px;
}
.driverForm>form{
    width: 85%;
    left: 9%;
    position: relative;
    top: 9%;
}
.driverSaveBtn,.driverUpdateBtn,.driverDeleteBtn{
    position: relative;
    left: 69%;
}
.driverTable{
    position: absolute;
    width: 82%;
    height: 25%;
    top: 65%;
    left: 10%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.driverTbl>tr:hover{
    cursor: pointer;
}
.driverForm>pre{
    position: relative;
    display: flex;
    top: 6%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

/*dashboard*/

.dashboard{
    position: relative;
    width: 100vw;
    height: 270vh;
    background-color: #f6efe3;
    left: -1%;
}
.DashboardLabels{
    position: relative;
    background-color: white;
    height: 30%;
    width: 90%;
    left: 4%;
    top: 7%;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Arial Rounded MT Bold";
}

.DashboardLabels>div{
    position: relative;
    background-color: red;
    height: 32%;
    width: 26%;
    margin: 18px;
    left: 7%;
    top: 10%;
    display: inline-block;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;


}
.DashboardLabels>div>pre{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    opacity: 60%;
}
.DashboardLabels>div>.count{
    opacity: 75%;
    font-size: 50px;
}

.returnAllTable{
    position: absolute;
    width: 90%;
    height: 20%;
    top: 42%;
    left: 4%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.returnAllTable>table{
    width: 92%;
    left: 4%;
    top: 10%;
    position: relative;
}
.returnAllTable>pre{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2%;
    font-size: 20px;
    font-weight: bold;
}
.allRentTable>tr:hover{
    cursor: pointer;
}
.accordion{
    position: relative;
    top: 35%;
    width: 90%;
    left: 4%;
}